body {
    background-color: #fff;
    color: #000;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: auto;
}
header {
    background-color: #fff;
    color: #696969;
    height: 60px;
    margin: 0;
    font-size: x-large;
    border-bottom: 1px solid; 
}
.logo{
    padding: 5px;
}
.header-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 0px;    
    text-align: center;
    width: 100%;
}
.header ul {
    list-style: none;
    display: flex;
    gap: 60px;
    padding: 0px;
    margin: 0px;

} 
.header a {
    text-decoration: none;
    color: #696969;
}
.header a:hover {
    color: #AFE7FF;
    text-shadow:  0px 0.1px 1px #000;
    transition: color 0.15s ease;;
    
}
li {
    list-style: none;
    color: #000000;
    padding-top: 20px;
}
.small-screen-menu {
    display: inline;
}
.menu-icon {
    cursor: pointer;
    display: block;
    width: 40px;
    height: 50px;
    background-color: #00000000;
    position: absolute;
    padding-left: 50px;
    margin: 5px;
    z-index: 1001; 
    top: 0;
    left: 0;
}
.bar {
    display: block;
    width: 30px;
    height: 3px;
    background-color: #000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}
.bar:nth-child(1) {
    top: 25%;
}
.bar:nth-child(3) {
    top: 75%;
}
.burger-menu .nav-links {
    display: none; 
    position: absolute;
    top: 0px;
    left: 0;
    background-color: #ffffffe9; 
    padding-top: 60px;
    padding-left: 20px; 
    padding-right: 30px;
    z-index: 1000; 
    flex-direction: column;
    text-align: start;
    height: 100%;
}
#menu-toggle {
    display: none;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: -9999px;
    left: -9999px;
}

#menu-toggle:checked ~ .burger-menu .nav-links {
    display: block; 
    flex-direction: column; 
}

.main {
    text-align: center;
}

h1{
    font-weight: 700;
    text-shadow:  5px 5px 5px rgba(0, 0, 0, 0.374);

    margin: 0;
    padding: 20px; 
    padding-top: 80px;
}
h2{
    font-weight: 600;
    font-size: xx-large;
    margin-bottom: 0px;
}
h3{ 
    text-shadow:  0px 5px 7px rgba(0, 0, 0, 0.374);
    font-weight: 600;
    font-size: xxx-large;
}
h4{
    margin: 10px;
    font-size: larger;
}
h5{
    margin: 0;
}
p{
    margin-top: 0px;
}

.spacing{
    padding-top: 80px;
}

                    /* HOMEPAGE*/
.explore-together{
    background: url(images/astronaut.jpg)
    center/cover no-repeat;
    width: 100%;
    height: 500px;
    color: #AFE7FF;
    text-align: right;
    font-size: xxx-large;
    text-shadow: 1px 2px 3px#000;
    transition: 0.3s ease-in;

}

.index-info{
    margin: 20px;
    margin-left: 30px;
    margin-right: 30px;
    padding: 20px;
    padding-top: 5px;
    background-color: #AFE7FF;
    border-radius: 20px;
}
.index-info h2{
    margin-top: 5px;
    margin-bottom: 10px;
}
.exhib-section{
    font-weight: 200;
    display: flex;
    flex-wrap: wrap;
    overflow-x: auto; 
    justify-content: center;
    margin: 0px; 
    margin-bottom: 30px;
    background-color: #000;
}
.exhib-preview{
    position: relative;
    margin: 10px;
    padding: 20px;
    width: 410px;
    height: 510px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.374);
    border-radius: 5px;
    transition: 0.2s ease;

}

.exhib-preview div{
    color: #AFE7FF;
    text-shadow:  0px 1px 7px #000;
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
}
.exhib-preview:hover{
    font-weight: 600;
    transition: 0.3s ease;
}
.exhib-preview::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
.exhib-preview1::before{
   background-image: url(images/preview-exhib/preview-1.png);
}
.exhib-preview2::before{
    background-image: url(images/preview-exhib/preview-2.png);
}
.exhib-preview3::before{
    background-image: url(images/preview-exhib/preview-3.png);
}
.exhib-preview4::before{
    background-image: url(images/preview-exhib/preview-4.png);
}
.exhib-preview5::before{
    background-image: url(images/preview-exhib/robotics-and-ai3.png);
}
.button1{
    color: #000;
    border: 1px solid ;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0.123, 0.123, 0.123, 0.123);
    text-decoration: none;
    padding: 10px; 
    padding-left: 20px; 
    padding-right: 20px;
    transition: 0.2s ease;
}
.button1:hover, .button1 a:hover{
    font-weight: 600;
    background-color: #00000013;
    box-shadow: 0px 1px 3px;
    transition: 0.4s ease;

}

.tour-section{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    margin: 20px;
    margin-left: 80px;
    margin-right: 80px;
}
.tour-school{
    grid-column: 3 / -1;
    text-align: justify;
    padding: 10px;
    background-color: #AFE7FF;
    border-top-right-radius: 10px; 
    border-bottom-right-radius: 10px;
}
.tour-school-img{
    grid-column: 1 / 3;
    justify-content: left;
    padding: 10px;
    background-color: #AFE7FF;
    border-top-left-radius: 10px; 
    border-bottom-left-radius: 10px;
}
.tour-school-img img{
    max-width: 100%;
    border-radius: 5px;
}
.tour-school-img2{
    display: none;
}
.tour-group{
    grid-column: 1 / 4;
    padding: 10px;
    text-align: justify;
    background-color: #AFE7FF;
    border-top-left-radius: 10px; 
    border-bottom-left-radius: 10px;

}
.tour-group-img{
    grid-column: 4 / -1;
    background-color: #AFE7FF;
    padding: 10px;
    border-top-right-radius: 10px; 
    border-bottom-right-radius: 10px;

}
.tour-group-img img{
    max-width: 100%;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
                        /* CONTRIBUTION PAGE*/
.top-banner{
    color: #AFE7FF;
    text-shadow: #000;
    text-align: center;
    font-size: xxx-large;
    height: 230px;
    max-width: 100%;
}
.get-involved{
    background-image: url(images/top-banner-contributions.png);
}
.involved-info{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 50px; 
    margin-right: 50px;
}
.involved-info1{
    grid-column: 1 / 3;
    text-align: start;
    border-bottom: 1px solid #AFE7FF;
}
.inv-img1{
    grid-column: 3 / -1;
    width: 97%;
    border-radius: 10px;
    box-shadow: 0 2px 5px #000;
    margin-top: 30px;
    margin-left: 10px;
}
.involved-info2{
    grid-column: 2 / -1;
    text-align: justify;
    border-bottom: 1px solid #AFE7FF;
}
.inv-img2{
    grid-column: 1 / 2;
    width: 97%;
    border-radius: 10px;
    box-shadow: 0 2px 5px #000;
    margin-top: 50px; 
}
.involved-info3{
    grid-column: 1 / 3;
}
.inv-img3{
    grid-column: 3 / -1;
    width: 97%;
    border-radius: 10px;
    box-shadow: 0 2px 5px #000;
    margin-left: 10px;
    
}

                        /* CONTACT PAGE */
.contact-us{
    background-image: url(images/white-entrance.png);
}

.visit-section{
    margin: 50px;

}
.visit-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr fr 1fr ;
}
.visit-g1{
    grid-column: 1 / 2;
    padding: 10px;
    border-radius: 5px;
}
.visit-g2{
    grid-column: 2 / 4;

}
.visit-g3{
    grid-column: 1 / -1;
    margin-top: 20px;
    padding: 10px;
    border-top: 1px solid #AFE7FF;
    border-bottom: 1px solid #AFE7FF;

}

.google-map{
    border: 0.5px solid #a2a2a2;
    border-radius: 5px;
    box-shadow: 0px 1px 7px #696969;
    height: 100%;
    width: 95%;
    margin-left: 5%;
}

.contact-section{
    display: grid;
    margin: 20px; 
    margin-left: 100px; 
    margin-right: 100px;
    justify-content: center;
    background-color: #AFE7FF;
    padding-bottom: 20px;
    border-radius: 5px;

}
input, textarea {
    width: 95%;
    height: 20px;
    font-family: sans-serif;
    font-size: large;
    font-weight: 200;
    text-align: start; 
    padding: 5px;
    border: 1px solid #555555;
    border-radius: 3px;
    background-color: #AFE7FF;
    box-shadow: inset 0 0.4px 1px #555555;
}

label {
    display: block;
    font-weight: 400;
}
textarea {
    height: 200px;
    resize: vertical;
    line-height: 1.1;
}

textarea::placeholder {
    color: #555555;
}

textarea:focus, input:focus {
    border-color: #000;
    outline: none; 
}
.form-button {
    display: block;
    text-decoration: none;
    font-weight: 500;
    color: #555555;
    border: 1px solid #555555; 
    border-radius: 3px;
    box-shadow: 1px 2px 5px #555555;
    width: 130px;
    text-align: center;
    padding: 5px;
    justify-self: center;
    transition: 0.2s ease;

}
.form-button:hover{
    color: #000;
    font-weight: 600;
    border: 1px solid #000;
    box-shadow: 1px 2px 5px #555555;
    transition: 0.3s ease;
}
.contact-form {
    grid-column: 1 / -1;
    margin-bottom: 30px;
}

                        /*EXHIBITION PAGE*/
.exhibition-banner{
    background-image: url(images/trex.png);
}

.exhibition-section{
    margin: 50px;
}
.exhibition{
    color: #696969;
    transition: 0.3s;
    margin-bottom: 30px;
}
.exhibition:hover{
    color: #000000;
    transition: 0.3s;
}
.exhibition h2{
    margin-top: 0;
}
.exhibition-img{
    border-radius: 10px;
    width: 100%;
    box-shadow: 0 2px 5px #696969;
}
.exhib-text{
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    text-align: justify;
    border-bottom: 1px solid #AFE7FF;
}

                        /* DIV */
.center-container{
    margin-left: 50px; 
    margin-right: 50px;
    margin-bottom: 30px
}

                        /* Terms and Conditions */
.terms-privacy-section{
    margin-left: 50px;
    margin-right: 50px;
}
.terms-privacy-section p{
    font-size: small;
}
                        /*FOOTER*/
footer {
    color: #000000;
    min-height: 150px;
    border-top: 1px solid #AFE7FF;
    box-shadow: inset 0 0px 3px #AFE7FF;
    margin-top: 50px;
}

.footer-container {
    margin-bottom: 20px; 
    margin-left: 30px; 
    margin-right: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    gap: 20px;
}
.footer-1 {
    min-width: 200px;
    text-align: start;
}
.footer-2 {
    min-width: 200px;
}
.footer-2 p{
    margin: 0px; 
 }
.footer-3 {
    min-width: 200px;
    text-align: end;
}
.footer-3 a, div{
    color: #000;
    margin-bottom: 15px;
}

.footer-1 p:hover,.footer-2 p:hover, .footer-3 a:hover{
    cursor: pointer;
    color: #AFE7FF;
}

                        /* MEDIA */
@media (max-width: 1010px) {
    .logo{
        display: none;
    }
    .exhib-section{
        font-weight: 600;
    }
    .tour-section, .involved-info{
        display: flex;
        flex-wrap:wrap;
        justify-content: center;
    }
    .tour-group, .tour-school{
        text-align: center;
        border-radius: 10px;
    }
    .tour-group-img, .tour-school-img{
        background-color: #fff;
    }
    .tour-school-img img,.tour-group-img img{
        display: none;
    }
    .tour-school-img2{
        display: flex;
    }
    .tour-school-img2 img{
        max-width: 100%;
        border-radius: 5px;
    }
    .visit-grid{
        display: flex;
        flex-wrap: wrap;
    }
    .google-map{
        min-width: 100%;
        height: 250px;
        margin-top: 40px; 
        margin-bottom: 20px;
        justify-content: center;
    }
    .contact-section{
        margin-left: 0px; 
        margin-right: 0px;
    }
    .footer-1, .footer-2, .footer-3{
        text-align: center;
    }
    .inv-img1{
        display: none;
    }
    .inv-img2, .inv-img3{
        width: 100%;
    }
    h2{
        text-align: center;
    }
    h1{
        font-size: larger;
    }
}

@media (max-width: 831px){
    .header-container {
        display: none;
    }
    .explore-together{
        font-size: xx-large;
    }
    .exhib-section{
        background-color: #fff;
    }
    .exhibition-section{
        margin: 20px;
    }
    .exhib-text{
        text-align: start;
    }
    .tour-section{
        margin: 20px;
    }
    .footer-container {
        justify-content: center;
        display: flex;
        flex-wrap: wrap;
    }
}
@media (max-width:500px){
    .tour-school-img img,.tour-group-img img{
        max-width: 100%;
    }
    .visit-g1, .visit-g3{
        padding: 0px;
    }
    .visit-g2 iframe div{
        justify-items: center;
    }
    .involved-info{
        margin: 20px;
    }
    .inv-img2{
        margin-top: 0;
    }
    
}
@media (min-width: 831px){
    
    .small-screen-menu {
        display: none;
    }
}
